html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

.list-item {
  padding: 5px;
  border: 2px;
  border-color: black;
}
